weqweiuhi kjaifdab kjbadiba nbjabhdajbd kjbadkjbak

tdgdgd..ddye.ehjiet ekjtkoejtoeoejeotjeotj


1.   List item
2.   List item

In [ ]:
x = 10
print('jvgndfkjgdnfkjg')
x

jvgndfkjgdnfkjg

10

In [ ]:
x = 10
y= "World"
print(f"Hello There {x} and {y}")

Hello There 10 and World

In [ ]:
print("Hello There" + y + "  " + str(x))

Hello ThereWorld  10

In [ ]:
"""
  sample Comments
  gkl;df;gjdfg kljkl
  kljfnnk
  jklsnfjknsdjknf
  fklsdjnfsdlfnklsfnl
"""

print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")
"""
  sample Comments
  gkl;df;gjdfg kljkl
  kljfnnk
  jklsnfjknsdjknf
  fklsdjnfsdlfnklsfnl
"""
print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")

hellow world
hellow world
hellow world
hellow world
hellow world
hellow world
hellow world
hellow world
hellow world
hellow world
hellow world
hellow world
hellow world

We use print() frequently in any code snippet.
print() will help us to find any error in our $log$ file.

In [ ]:
cse_4_2 = [1, 2, 3, 4,'fsdfsd', 2.222]
print(cse_4_2)
print(type(cse_4_2))

[1, 2, 3, 4, 'fsdfsd', 2.222]
<class 'list'>

In [ ]:
len(cse_4_2)

6

In [ ]:
cse_4_2 = [1, 2, 3, 4]
print(cse_4_2)
print(type(cse_4_2))

[1, 2, 3, 4]
<class 'list'>

In [ ]:
max(cse_4_2)

4

In [ ]:
sum(cse_4_2)

10

In [ ]:
cse_4_2 = [1, 2, 3, 4, 2.222]
print(min(cse_4_2))
print(max(cse_4_2))

1
4

In [ ]:
list(range(0,5, 2))

[0, 2, 4]

In [ ]:
list(range(0,5, 2))

[0, 2, 4]

In [ ]:
list(range(10,20, 5))

[10, 15]

In [ ]:
list(range(3,10,2))

[3, 5, 7, 9]

In [ ]:
list(range(3,19,3))

[3, 6, 9, 12, 15, 18]

In [ ]:
print(list(range(2,10,2)))

[2, 4, 6, 8]

In [ ]:
list(range(len(cse_4_2)))

[0, 1, 2, 3]

In [ ]:
cse_4_2

[1, 2, 3, 4]

In [ ]:
cse_4_2[1]

2

In [ ]:
cse_4_2 = [1, 2, 3, 4, 2.222]

In [ ]:
list(range(len(cse_4_2)))

[0, 1, 2, 3, 4]

In [ ]:
list(range(len(cse_4_2)))

[0, 1, 2, 3, 4, 5]

In [ ]:
for x in range(len(cse_4_2)):
  print(cse_4_2[x])

1
2
3
4
fsdfsd
2.222

In [ ]:
for i in range(len(cse_4_2)):
  cse_4_2[i] += 2
print(cse_4_2)

[3, 4, 5, 6, 4.2219999999999995]

In [ ]:
for i in cse_4_2:
  print(i)

0
1
2
3
4

In [ ]:
list1 = [1, 2, 3, 0, 5, 6]
# list1 = [0,None,1]


# # any will return true if any of the sequence values are true
print(any(list1))

# # all will return true only if all values are true
print(all(list1))

True
False

In [ ]:
list1 = [1, 2, 3, 0, 5, 6]

# # min and max will return minimum and maximum values in a sequence
print("min: ", min(list1))
print("max: ", max(list1))
# #
# # Use sum() to sum up all of the values in a sequence
print("sum: ", sum(list1))

min:  0
max:  6
sum:  17

In [ ]:
# Iterating Over the Items of a List
L = ['Tony was chased', 'Bruce was angered', 'Steven was scared ']
# print each string in the list L
for x in L:
    print(x)
for i in range(len(L)):
    L[i] = L[i] +'x'
print(L)

Tony was chased
Bruce was angered
Steven was scared
['Tony was chasedx', 'Bruce was angeredx', 'Steven was scared x']

In [ ]:
#@title 0, 1, 2
for i in range (len (L)):
    L[i] = L[i] + ' by zombies.'

for x in L:
    print(x)

Tony was chased by zombies.
Bruce was angered by zombies.
Steven was scared  by zombies.

In [ ]:
x = [1, 2, 3]
x.append([4, 5]) # [1,2,3,[4, 5]]
print(x)
x.append(6) # [1,2,3,[4, 5], 6]
print(x)
x.extend([8, 9])
print(x) # [1,2,3,[4, 5] ,6,  8 , 9]
x.append(5)  # [1,2,3,[4, 5] , 8 , 9, 5]
print(x)

[1, 2, 3, [4, 5]]
[1, 2, 3, [4, 5], 6]
[1, 2, 3, [4, 5], 6, 8, 9]
[1, 2, 3, [4, 5], 6, 8, 9, 5]

In [ ]:
x = [1, 2, 3]
x.extend(8) # extend needs an iterable object

TypeError: ignored

In [ ]:
x = [1, 2, 3]
x.extend((2,3,4)) # extend needs an iterable object
x

[1, 2, 3, 2, 3, 4]

In [ ]:
# # define a list of days in English and French
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]
# # use regular interation over the days
for m in range(len(days)):
  print(days[m],m)

Sun 0
Mon 1
Tue 2
Wed 3
Thu 4
Fri 5
Sat 6

In [ ]:
days

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [ ]:
list(enumerate(days, start = 100))

[(100, 'Sun'),
 (101, 'Mon'),
 (102, 'Tue'),
 (103, 'Wed'),
 (104, 'Thu'),
 (105, 'Fri'),
 (106, 'Sat')]

In [ ]:
list(enumerate(days, start = 10))

[(10, 'Sun'),
 (11, 'Mon'),
 (12, 'Tue'),
 (13, 'Wed'),
 (14, 'Thu'),
 (15, 'Fri'),
 (16, 'Sat')]

In [ ]:
x = (1,2,3,5,4,4,4)
x[0] = 99

TypeError: ignored

In [ ]:
list(enumerate(days, start = 99))

[(99, 'Sun'),
 (100, 'Mon'),
 (101, 'Tue'),
 (102, 'Wed'),
 (103, 'Thu'),
 (104, 'Fri'),
 (105, 'Sat')]

In [ ]:
# using enumerate reduces code and provides a counter
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
print(list(enumerate(days, start = 10)))

[(10, 'Sun'), (11, 'Mon'), (12, 'Tue'), (13, 'Wed'), (14, 'Thu'), (15, 'Fri'), (16, 'Sat')]

In [ ]:
x = list(enumerate(days, start = 10))
x

[(10, 'Sun'),
 (11, 'Mon'),
 (12, 'Tue'),
 (13, 'Wed'),
 (14, 'Thu'),
 (15, 'Fri'),
 (16, 'Sat')]

In [ ]:
# using enumerate reduces code and provides a counter
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]

for x, y in enumerate(days):
    print(x ,y)

0 Sun
1 Mon
2 Tue
3 Wed
4 Thu
5 Fri
6 Sat

In [ ]:
for i, x in enumerate(days):
    print(i, x)

0 Sun
1 Mon
2 Tue
3 Wed
4 Thu
5 Fri
6 Sat

In [ ]:
l1 = [1,2,3, 4, 5]
l2 = ['a','b','c', 'd' , 'e']

list(zip(l1,l2, l1))

[(1, 'a', 1), (2, 'b', 2), (3, 'c', 3), (4, 'd', 4), (5, 'e', 5)]

In [ ]:
l

[(1, 'a', 1), (2, 'b', 2), (3, 'c', 3)]

In [ ]:
# cannot edit
print(l[0])
print(type(l[0]))
l[0] = 1
print(l)

(1, 'a', 1)
<class 'tuple'>
[1, (2, 'b', 2), (3, 'c', 3)]

In [ ]:
x = l[1]
x

(2, 'b', 2)

In [ ]:
x[0] = 4

TypeError: ignored

In [ ]:
# # use zip to combine sequences
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer"]
daysGR = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]

for m in zip(days,daysFr,daysGR):
    print(m[0], m[1], m[2])

Sun Dim Dim
Mon Lun Lun
Tue Mar Mar
Wed Mer Mer

In [ ]:
for i in list(enumerate(zip(days, daysGR, daysFr), start = 5)):
  print(i)

(5, ('Sun', 'Dim', 'Dim'))
(6, ('Mon', 'Lun', 'Lun'))
(7, ('Tue', 'Mar', 'Mar'))
(8, ('Wed', 'Mer', 'Mer'))

In [ ]:
for i, m in enumerate(zip(days, daysGR, daysFr), start=10):
  print(i, m)

10 ('Sun', 'Dim', 'Dim')
11 ('Mon', 'Lun', 'Lun')
12 ('Tue', 'Mar', 'Mar')
13 ('Wed', 'Mer', 'Mer')

In [ ]:
for x in enumerate(days):
    print(x[0], x[1])

0 Sun
1 Mon
2 Tue
3 Wed
4 Thu
5 Fri
6 Sat

In [ ]:
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer"]
for m in zip(days, daysFr):
    print(m, type(m))

('Sun', 'Dim') <class 'tuple'>
('Mon', 'Lun') <class 'tuple'>
('Tue', 'Mar') <class 'tuple'>
('Wed', 'Mer') <class 'tuple'>

In [ ]:
list(enumerate(zip(days, daysFr), start=10))

[(10, ('Sun', 'Dim')),
 (11, ('Mon', 'Lun')),
 (12, ('Tue', 'Mar')),
 (13, ('Wed', 'Mer'))]

In [ ]:
'''
    Tuples are identical to lists, with the following exceptions:
        Tuples are immutable.
        Tuples are written with parentheses instead of square brackets.
'''
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer"]
for m in enumerate(zip(days, daysFr), start=10):
    print(m, type(m), i)

(10, ('Sun', 'Dim')) <class 'tuple'> 13
(11, ('Mon', 'Lun')) <class 'tuple'> 13
(12, ('Tue', 'Mar')) <class 'tuple'> 13
(13, ('Wed', 'Mer')) <class 'tuple'> 13

In [ ]:
days

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [ ]:
# use iter to create an iterator over a collection
i = iter(days)
print(next(i))  # Sun
print(next(i))  # Mon
print(next(i))  # Tue
print(next(i))
print(next(i))
print(next(i))
print(next(i))
print(next(i, 'finished'))

Sun
Mon
Tue
Wed
Thu
Fri
Sat
finished

In [ ]:
i = iter(days)

while True:
  y = next(i, -99)
  if y!= -99:
    print(y)
  else:
    break

Sun
Mon
Tue
Wed
Thu
Fri
Sat

In [ ]:
j = iter(days)

for i in range(len(days)):
  print(next(j))

Sun
Mon
Tue
Wed
Thu
Fri
Sat

Demonstrate how to use set comprehensions

In [ ]:
ctemps = [5, 10, 12, 14, 10, 23, 41, 30, 12, 24, 12, 18, 29]
ftemps = []
for temp in ctemps:
  x = (temp * 9/5) + 32
  ftemps.append(x)
print(ftemps)

[41.0, 50.0, 53.6, 57.2, 50.0, 73.4, 105.8, 86.0, 53.6, 75.2, 53.6, 64.4, 84.2]

In [ ]:
x= [ (temp * 9/5) + 32 for temp in ctemps ]
x

[41.0, 50.0, 53.6, 57.2, 50.0, 73.4, 105.8, 86.0, 53.6, 75.2, 53.6, 64.4, 84.2]

In [ ]:
[(temp * 9/5) + 32 for temp in ctemps if temp%2==0]

[41.0, 50.0, 53.6, 57.2, 50.0, 73.4, 105.8, 86.0, 53.6, 75.2, 53.6, 64.4, 84.2]

In [ ]:
ftemps = [(temp * 9/5) + 32 for temp in ctemps if temp%2==0]
ftemps

[50.0, 53.6, 57.2, 50.0, 86.0, 53.6, 75.2, 53.6, 64.4]

In [ ]:
ftemps = [(i, (temp * 9/5) + 32) for i,temp in enumerate(ctemps) if temp%2==0]
print(ftemps)

[(1, 50.0), (2, 53.6), (3, 57.2), (4, 50.0), (7, 86.0), (8, 53.6), (9, 75.2), (10, 53.6), (11, 64.4)]

In [ ]:
x = [5,5,5,4,4,4]
[a*a for a in x]

[25, 25, 25, 16, 16, 16]

In [ ]:
s = {1,2,3}
for element in s:
  print(element)

1
2
3

In [ ]:
l = [5,10,15,20]
l2 = [t*3 for t in l]
l2

[15, 30, 45, 60]

In [ ]:
ctemps = [5, 10, 12, 14, 10, 23, 41, 30, 12, 24, 12, 18, 29]

# build a set of unique Fahrenheit temperatures
ftemps1 = [ (t * 9/5) + 32 for t in ctemps ]
ftemps2 = { (t * 9/5) + 32 for t in ctemps }

print(ftemps1, type(ftemps1)) # Did you think both are the same?
print(ftemps2, type(ftemps2))

[41.0, 50.0, 53.6, 57.2, 50.0, 73.4, 105.8, 86.0, 53.6, 75.2, 53.6, 64.4, 84.2] <class 'list'>
{64.4, 73.4, 41.0, 105.8, 75.2, 50.0, 84.2, 53.6, 86.0, 57.2} <class 'set'>

In [ ]:
lst1 = list(range(1,101))
print(lst1)
lst2 = [item**2 for item in lst1]
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [ ]:
for elem in ftemps2:
  print(elem)

64.4
73.4
41.0
105.8
75.2
50.0
84.2
53.6
86.0
57.2

#build a set from an input source
sTemp = "The quick brown fox jumped over the lazy dog"

In [ ]:

# build a set from an input source
sTemp = "The quick brown fox jumped over the lazy dogs"
chars1 = {c for c in sTemp if not c.isspace()}
chars = {c.upper() for c in sTemp if not c.isspace()}

print(len(chars1) )
print(chars1)
print(len(chars), type(chars))
print(chars)

27
{'k', 'v', 'm', 'o', 'j', 't', 'g', 'q', 'h', 'f', 'n', 'l', 'i', 'y', 'e', 'a', 'p', 'T', 'c', 'r', 'z', 'x', 's', 'u', 'b', 'w', 'd'}
26 <class 'set'>
{'E', 'Q', 'P', 'M', 'H', 'R', 'Y', 'D', 'L', 'I', 'J', 'C', 'A', 'S', 'N', 'X', 'B', 'Z', 'W', 'T', 'O', 'G', 'V', 'F', 'U', 'K'}

# Lambda expression

* lambda arguments : expression
* anonymous functions; accept multiple arguments but expression should be one

In [ ]:
new_lambda_test = lambda q, w, y, z : q + w + y + z + 10
print(new_lambda_test(20, 20, 20, 20))

90

In [ ]:
new_lambda_test = lambda q, w, y, z : q*20 + w + y + z + 10
print(new_lambda_test(20, 20, 20, 20))

470

In [ ]:
lambda_test = lambda a : a + 10
print(lambda_test(5))

new_lambda_test = lambda q, w, y, z : q + w + y + z + 10
print(new_lambda_test(20, 20, 20, 20))

15
90

In [ ]:
y = (1,2 ,3 ,4)
print(type(y))
print(y)
for i in y:
  print(i)

y[0] = 7

<class 'tuple'>
(1, 2, 3, 4)
1
2
3
4

TypeError: ignored

In [ ]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda zdrgdrtgd: zdrgdrtgd[0],  reverse = True ) # Look carefully..
print(pairs)

[(4, 'four'), (3, 'three'), (2, 'two'), (1, 'one')]

In [ ]:
mult3 = filter(lambda x: x % 3 == 0 and x<9,[1, 2, 3, 4, 5, 6, 7, 8, 9] )
list(mult3)

[3, 6]

In [ ]:
for i in mult3:
  print(i)

3
6
9

In [ ]:
mult3[1]

TypeError: ignored

In [ ]:
mult3 = list(filter(lambda x: x % 3 == 0, [1, 2, 3, 4, 5, 6, 7, 8, 9]))
print(mult3)
print(type(mult3))

[3, 6, 9]
<class 'list'>

In [ ]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(45) #  lambda x: x + 45
print(f(3))

48

# Demonstrate how to use list comprehensions

In [ ]:
# define two lists of numbers
evens = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odds =  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Derive a new list of numbers frm a given list
evenSquared = [e ** 2 for e in evens]
print(evenSquared)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [ ]:
base = [5,10,15,20,25]
height = [5,4,5,5,4]

area = [0.5*b*h for b,h in zip(base, height)]
print(area)

[12.5, 20.0, 37.5, 50.0, 50.0]

The **map()** function executes a specified function for each item in a iterable. The item is sent to the function as a parameter.

In [ ]:
evens = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odds =  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

a = list(filter(lambda e: e > 4 and e < 16, evens))
a

In [ ]:
# # Perform a mapping and filter function on a list
evenSquared = map(lambda e: e**2, filter(lambda e: e > 4 and e < 16, evens))
print(evenSquared)
for i in evenSquared:
  print(i)

<map object at 0x7fd462268490>
36
64
100
144
196

In [ ]:
# # Perform a mapping and filter function on a list
evenSquared = list(map(lambda e: e**2, filter(lambda e: e > 4 and e < 16, evens)))
print(evenSquared)

[36, 64, 100, 144, 196]

In [ ]:
evenSquared_new = [e ** 2 for e in evens if e > 4 and e < 16]
print(evenSquared_new)

[36, 64, 100, 144, 196]

In [ ]:
# Limit the items operated on with a predicate condition
oddSquared = [e ** 2 for e in odds if e > 3 and e < 17]
print(oddSquared)

[25, 49, 81, 121, 169, 225]

In [ ]:
list(map(lambda x: x*x, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

# Demonstrate the usage of Counter objects

In [ ]:
# A Counter is a container that keeps track of how many times equivalent values are added

from collections import Counter

# list of students in class 1
class1 = ["Bob", "James", "Chad", "Darcy", "Penny", "Hannah"
          "Kevin", "James", "Melanie", "Becky", "Steve", "Frank"]

# list of students in class 2
class2 = ["Bill", "Barry", "Cindy", "Debbie", "Frank",
          "Gabby", "Kelly", "James", "Joe", "Sam", "Tara", "Ziggy"]

# Create a Counter for class1 and class2
c1 = Counter(class1)
c2 = Counter(class2)
print(c1)
print(c2)
# How many students in class 1 named James?
print(c1["James"])

Counter({'James': 2, 'Bob': 1, 'Chad': 1, 'Darcy': 1, 'Penny': 1, 'HannahKevin': 1, 'Melanie': 1, 'Becky': 1, 'Steve': 1, 'Frank': 1})
Counter({'Bill': 1, 'Barry': 1, 'Cindy': 1, 'Debbie': 1, 'Frank': 1, 'Gabby': 1, 'Kelly': 1, 'James': 1, 'Joe': 1, 'Sam': 1, 'Tara': 1, 'Ziggy': 1})
2

In [ ]:
# How many students are in class 1?
print(sum(c1.values()), "students in class 1")

# Combine the two classes
c1.update(class2)
print(sum(c1.values()), "students in class 1 and 2")

# What's the most common name in the two classes?
print(c1.most_common(3), "the most common name in the two classes") # 3 is indicating --- how many

# Separate the classes again
c1.subtract(class2)
print(c1.most_common(2))

# What's common between the two classes?
print((c1 & c2), "common between the two classes")

11 students in class 1
23 students in class 1 and 2
[('James', 3), ('Frank', 2), ('Bob', 1)] the most common name in the two classes
[('James', 2), ('Bob', 1)]
Counter({'James': 1, 'Frank': 1}) common between the two classes

# Demonstrate the usage of defaultdict objects

A defaultdict works exactly like a normal dict, but it is initialized with a function (“default factory”) that takes no arguments and provides the default value for a nonexistent key.

A defaultdict will never raise a KeyError.

In [ ]:
c = {'a': 10, 'b':20}
c

{'a': 10, 'b': 20}

In [ ]:
c['nmbmbnmbm']

KeyError: ignored

In [ ]:
c['d'] = 50
c

{'a': 10, 'b': 20, 'd': 50}

In [ ]:
print(type(c))
print(c.items()) #prints keys and values
print(c.keys()) #prints keys
print(c.values()) #prints values

<class 'dict'>
dict_items([('a', 10), ('b', 20), ('d', 50)])
dict_keys(['a', 'b', 'd'])
dict_values([10, 20, 50])

In [ ]:
c['a']

10

In [ ]:
c['fhfhfhf']

KeyError: ignored

In [ ]:
dict = {'a':1,'b':2}
print(dict['ukn'])

KeyError: ignored

In [ ]:
from collections import defaultdict

ice_cream = defaultdict(lambda: 'There is no such word')
ice_cream['Sarah'] = 'Chunky Monkey'
ice_cream['Abdul'] = 'Butter Pecan'
print(ice_cream['Abdul'])
print(ice_cream['gjgjgj'])

Butter Pecan
There is no such word

# Demonstrate how to use dictionary comprehensions

In [ ]:
# define a list of temperature values
ctemps = [0, 12, 34, 100]

# Use a comprehension to build a dictionary
tempDict = {t: (t * 9/5) + 32 for t in ctemps if t < 100}
print(tempDict)

print("\n")

print(tempDict[12]) # access individual element
print(tempDict[34])
print(tempDict.keys())

{0: 32.0, 12: 53.6, 34: 93.2}


53.6
93.2
dict_keys([0, 12, 34])

# Use of Template

In [ ]:
from string import Template

str1 = "Welcome to all {} {} {} students!".format("AUST", "CSE", "4-2")
print(str1)

str1 = "Welcome to all {0} {1} {2} students!".format("AUST", "CSE", "4-2")
print(str1)

# create a template with placeholders
templ = Template("Welcome to all ${university} ${department} ${semester} students!")

# use the substitute method with keyword arguments
str2 = templ.substitute(university="AUST", department="CSE", semester="4-2")
print(str2)

# use the substitute method with a dictionary
data = {
    "university": "AUST",
    "department": "CSE",
    "semester": "4-2"
}


str3 = templ.substitute(data)
print(str3)

Welcome to all AUST CSE 4-2 students!
Welcome to all AUST CSE 4-2 students!
Welcome to all AUST CSE 4-2 students!
Welcome to all AUST CSE 4-2 students!

In [ ]:
width = [5,10,15,20,25,30]
height = [10,15,20,25,30]

area = [ (i,t[0]*t[1]) for i,t in enumerate(zip(width, height))]
area

[(0, 50), (1, 150), (2, 300), (3, 500), (4, 750)]

In [ ]:
[i for i in range(1,1000) if '3' in str(i)]

[3,
 13,
 23,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 43,
 53,
 63,
 73,
 83,
 93,
 103,
 113,
 123,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 143,
 153,
 163,
 173,
 183,
 193,
 203,
 213,
 223,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 243,
 253,
 263,
 273,
 283,
 293,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 403,
 413,
 423,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 443,
 453,
 463,
 473,
 483,
 493,
 503,
 513,
 523,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 543,
 553,
 563,
 573,
 583,
 593,
 603,
 613,
 623,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 643,
 653,
 663,
 673,
 683,
 693,
 703,
 713,
 723,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 743,
 753,
 763,
 773,
 783,
 793,
 803,
 813,
 823,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 843,
 853,
 863,
 873,
 883,
 893,
 903,
 913,
 923,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 943,
 953,
 963,
 973,
 983,
 993]

In [ ]:
[i for i in range(1, 1001) if (str(i)).count('3') > 0]

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000]